.home{
    border: 1px solid black;
    height: 980px;
    background-position: center center;
    background-size: 100% 100%;

}

h1{
    
    margin-left: 125px;
    margin-top: 150px;
    font-family: Bebas Neue;
    
    font-size: 72px;
   

    color: #FFFFFF;
}

p{
    position: absolute;
    width: 455px;
    height: 80px;
    left: 135px;
    top: 390px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #FFFFFF;
}

.btn-booking{
    display: flex;
    flex-direction: row;
    padding: 12px 29px;

    position: absolute;
    width: 161px;
    height: 48px;
    left: 135px;
    top: 516px;

    background: #F9A51A;
    border-radius: 5px;
}

.siteName{
    position: absolute;
    /* width: 500px;
    height: 490px; */
    margin-right: 10px;
    left: 635px;
    top: 236px;

    /* background: linear-gradient(0.12deg, #000000 0.1%, rgba(0, 0, 0, 0) 69.96%); */
    border-radius: 20px;
}